<main>
    <h1 class="text-center пш">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>
    <div class="display-1">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <div class="text-end text-muted">
        Додатковий текст
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
    </button>

    <hr>
    <br>


    <p class="text-primary">My text</p>

    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">My button</button>
            <button class="btn btn-outline-secondary btn-sm">My button</button>
            <button class="btn btn-outline-dark">My button</button>
        </div>
    </div>



    <hr>
    <br>

    <div class="card">
        <div class="card-body">This is content</div>
    </div>

</main>