{{!-- <div>"Education page in progress..."</div> --}}
<div>
    {{#with main}}
    <main>
        <section>
            {{> title big=true data="My educations"}}
            <ul class="ms-5">
                {{#each educations.name}}
                <li>{{education}}</li>
                {{#unless isEnd includeZero=true}} (ще в процесі) {{/unless}}
                {{/each}}
            </ul>
        </section>

        <section>
            {{> title big=false data="My sertificates"}}
            <ul class="ms-5">
                {{#each certificates}}
                <li>{{name}}
                    {{#if inStock}} (ID: {{id}}) {{/if}}
                    {{/each}}
                </li>
            </ul>

        </section>
    </main>
    {{/with}}
</div>