<header class="mt-2">

    <div class="card">
        {{#with navigation}}
        <div class="row mx-0">

            <div class="col-7">
                <div class="col-12">
                    <h2 class="ms-0 pt-3">{{Logo}}</h2>
                </div>
            </div>

            <div class="col-5 pe-0">

                <ul class="nav pt-4 ps-0 float-end">
                    {{#each links}}
                    <li class="nav-item ps-3">
                        <a href="{{href}}" class="nav-link pe-1">{{text}}</a>
                    </li>
                    {{/each}}
                    <li class="nav-item ps-3">
                        <a class="nav-link disabled pe-1">Disabled</a>
                    </li>
                </ul>

            </div>

        </div>
        {{/with}}
    </div>

</header>